
*.iml
day1 of dsa/.idea/vcs.xml
day1 of dsa/.idea/modules.xml
day1 of dsa/.idea/misc.xml
day1 of dsa/.idea/inspectionProfiles/profiles_settings.xml
day2 of dsa/.idea/inspectionProfiles/profiles_settings.xml
day2 of dsa/.idea/misc.xml
*.xml
